﻿@model ConstructionAlerts.Models.Alert

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jQRangeSlider/lib/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/jQRangeSlider/jQDateRangeSlider-min.js"></script>

    <style>
        #map-canvas {
            height: 400px;
        }
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB15FfNqkKtEGR38-L48WetbLcuP1-Zcbw&sensor=true">
    </script>

    <script src="~/Scripts/gmap3.min.js"></script>

    <script type="text/javascript">

        function Gmap3Menu($div) {
            var that = this,
                items = [],
                ts = null,
                namespace = "gmap3-menu";

            function create(item) {
                var $item = $("<div class='item " + item.cl + "'>" + item.label + "</div>");
                $item.click(function () {
                    if (typeof item.fnc === "function") {
                        item.fnc.apply($(this), []);
                    }
                }).hover(function () {
                    $(this).addClass("hover");
                }, function () {
                    $(this).removeClass("hover");
                });
                return $item;
            };

            function clearTs() {
                if (ts) {
                    clearTimeout(ts);
                    ts = null;
                }
            }

            function initTs(t) {
                ts = setTimeout(function () {
                    that.close()
                }, t);
            }
            this.add = function (label, cl, fnc) {
                items.push({
                    label: label,
                    fnc: fnc,
                    cl: cl
                });
            };
            this.open = function (event) {
                this.close();
                var offset = {
                    x: 0,
                    y: 0
                }, $menu = $("<div id='" + namespace + "'></div>");
                $.each(items, function (i, item) {
                    $menu.append(create(item));
                });
                $menu.hover(function () {
                    clearTs();
                }, function () {
                    initTs(3000);
                });
                if (event.pixel.y + $menu.height() > $div.height()) {
                    offset.y = -$menu.height();
                }
                if (event.pixel.x + $menu.width() > $div.width()) {
                    offset.x = -$menu.width();
                }
                $div.gmap3({
                    overlay: {
                        latLng: event.latLng,
                        options: {
                            content: $menu,
                            offset: offset
                        },
                        tag: namespace
                    }
                });
                initTs(5000);
            };
            this.close = function () {
                clearTs();
                $div.gmap3({
                    clear: {
                        name: "overlay",
                        tag: namespace
                    }
                });
            };
        }
        //function initialize() {
        //    var mapOptions = {
        //        center: new google.maps.LatLng(42.2677148, -89.0848823),
        //        zoom: 12,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };
        //    var map = new google.maps.Map(document.getElementById("map-canvas"),
        //        mapOptions);
        //}
        //google.maps.event.addDomListener(window, 'load', initialize);


        var menu = new Gmap3Menu($("#map-canvas")),
  current,  // current click event (used to save as start / end position)
  m1,       // marker "from"
  m2;       // marker "to"

        // update marker
        function updateMarker(marker, isM1) {
            if (isM1) {
                m1 = marker;
            } else {
                m2 = marker;
            }
            updateDirections();
        }

        // add marker and manage which one it is (A, B)
        function addMarker(isM1) {
            // clear previous marker if set
            var clear = { name: "marker" };
            if (isM1 && m1) {
                clear.tag = "from";
                $("#map-canvas").gmap3({ clear: clear });
            } else if (!isM1 && m2) {
                clear.tag = "to";
                $("#map-canvas").gmap3({ clear: clear });
            }
            $("#x").val(current.latLng);

            // add marker and store it
            $("#map-canvas").gmap3({
                marker: {
                    latLng: current.latLng,
                    options: {
                        draggable: true,
                        icon: new google.maps.MarkerImage("http://maps.gstatic.com/mapfiles/icon_green" + (isM1 ? "A" : "B") + ".png")
                    },
                    tag: (isM1 ? "from" : "to"),
                    events: {
                        dragend: function (marker) {
                            updateMarker(marker, isM1);
                        }
                    },
                    callback: function (marker) {
                        updateMarker(marker, isM1);
                    }
                }
            });
        }

        // function called to update direction is m1 and m2 are set
        function updateDirections() {
            if (!(m1 && m2)) {
                return;
            }
            $("#map-canvas").gmap3({
                getroute: {
                    options: {
                        origin: m1.getPosition(),
                        destination: m2.getPosition(),
                        travelMode: google.maps.DirectionsTravelMode.DRIVING
                    },
                    callback: function (results) {
                        if (!results) return;
                        $("#map-canvas").gmap3({ get: "directionrenderer" }).setDirections(results);
                    }
                }
            });
        }

        // MENU : ITEM 1
        menu.add("Start Point", "itemB",
        function () {
            menu.close();
            addMarker(true);

        });

        // MENU : ITEM 2
        menu.add("End Point", "itemA separator",
        function () {
            menu.close();
            addMarker(false);
        })

        //// MENU : ITEM 3
        //menu.add("Zoom in", "zoomIn",
        //function () {
        //    var map = $("#map-canvas").gmap3("get");
        //    map.setZoom(map.getZoom() + 1);
        //    menu.close();
        //});

        //// MENU : ITEM 4
        //menu.add("Zoom out", "zoomOut",
        //function () {
        //    var map = $("#map-canvas").gmap3("get");
        //    map.setZoom(map.getZoom() - 1);
        //    menu.close();
        //});

        //// MENU : ITEM 5
        //menu.add("Center here", "centerHere",
        //function () {
        //    $("#map-canvas").gmap3("get").setCenter(current.latLng);
        //    menu.close();
        //});

        // INITIALIZE GOOGLE MAP
        $("#map-canvas").gmap3({
            map: {
                options: {
                    center: [42.2677148, -89.0848823],
                    zoom: 12
                },
                events: {
                    rightclick: function (map, event) {
                        current = event;
                        menu.open(current);
                    },
                    click: function () {
                        menu.close();
                    },
                    dragstart: function () {
                        menu.close();
                    },
                    zoom_changed: function () {
                        menu.close();
                    }
                }
            },
            // add direction renderer to configure options (else, automatically created with default options)
            directionsrenderer: {
                divId: "directions",
                options: {
                    preserveViewport: true,
                    markerOptions: {
                        visible: false
                    },
                    draggable: true
                }
            }
        });
    </script>

}


<div class="row">
    <div class="col-md-12">
        <h1>Add New Alert</h1>
        <p>Here you can add a new alert that will notify you when a road or route you take normally is going to be impacted.</p>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AlertName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlertName)
                @Html.ValidationMessageFor(model => model.AlertName)
            </div>
        </div>

        <div class="form-group" ng-show="library.exportType == 'Material'">
            <label for="suppliers" class="col-md-2 control-label">Alert Type</label>
            <div class="col-md-3">
                <div class="btn-group  ">
                    <button type="button" class="btn btn-default active" ng-click="library.exportType = 'Material'" ng-class="{ 'active' : library.exportType == 'Material' }">Along a route</button>
                    <button type="button" class="btn btn-default" ng-click="library.exportType = 'Labor'" ng-class="{ 'active' : library.exportType == 'Labor' }">Proximity to location</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startLocation, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.startLocation)
                @Html.ValidationMessageFor(model => model.startLocation)
            </div>
</div>
        <div class="form-group">
            @Html.LabelFor(model => model.endLocation, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.endLocation)
                @Html.ValidationMessageFor(model => model.endLocation)
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-sm-12">
                <div id="map-canvas" />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Notify Me By</label>
            <div class="col-sm-5 checkbox-inline">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">Email
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked style="margin-left:5px;"
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">SMS
                    </label>

                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked style="margin-left:5px;"
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">Twitter
                    </label>
                </div>

            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
