﻿@model IEnumerable<ConstructionAlerts.Models.Alert>

@{
    ViewBag.Title = "My Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>My Alerts</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlertName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.startLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.range)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlertName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.startLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.range)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
