﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#gmap3-menu {
            background-color: #FFF;
            width: 170px;
            padding: 0px;
            border: 1px;
            cursor: pointer;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-right: 1px solid #676767;
            border-bottom: 1px solid #676767;
        }

            #gmap3-menu .item {
                font-family: arial,helvetica,sans-serif;
                font-size: 12px;
                text-align: left;
                line-height: 30px;
                border-left: 0px;
                border-top: 0px;
                border-right: 0px;
                padding-left: 30px;
                background-repeat: no-repeat;
                background-position: 4px center;
            }

                #gmap3-menu .item.itemA {
                    background-image: url(/skin/gmap/js/lib/gmap3-images/icon_greenA.png);
                }

                #gmap3-menu .item.itemB {
                    background-image: url(/skin/gmap/js/lib/gmap3-images/icon_greenB.png);
                }

                #gmap3-menu .item.zoomIn {
                    background-image: url(/skin/gmap/js/lib/gmap3-images/zoomin.png);
                }

                #gmap3-menu .item.zoomOut {
                    background-image: url(/skin/gmap/js/lib/gmap3-images/zoomout.png);
                }

                #gmap3-menu .item.centerHere {
                    background-image: url(/skin/gmap/js/lib/gmap3-images/here.png);
                }

                #gmap3-menu .item.hover {
                    background-color: #d6e9f8;
                }

                #gmap3-menu .item.separator {
                    border-bottom: 1px solid #ccc;
                }
