﻿@section header{

    <link href="~/Scripts/datepicker/css/datepicker.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Scripts/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker()
    </script>

    <style>
        #map-canvas {
            height: 400px;
        }

    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB15FfNqkKtEGR38-L48WetbLcuP1-Zcbw&sensor=true">
    </script>

<script src="~/Scripts/gmap3.js"></script>

    <script type="text/javascript">
        function Gmap3Menu($div) {
            var that = this,
                items = [],
                ts = null,
                namespace = "gmap3-menu";

            function create(item) {
                var $item = $("<div class='item " + item.cl + "'>" + item.label + "</div>");
                $item.click(function () {
                    if (typeof item.fnc === "function") {
                        item.fnc.apply($(this), []);
                    }
                }).hover(function () {
                    $(this).addClass("hover");
                }, function () {
                    $(this).removeClass("hover");
                });
                return $item;
            };

            function clearTs() {
                if (ts) {
                    clearTimeout(ts);
                    ts = null;
                }
            }

            function initTs(t) {
                ts = setTimeout(function () {
                    that.close()
                }, t);
            }
            this.add = function (label, cl, fnc) {
                items.push({
                    label: label,
                    fnc: fnc,
                    cl: cl
                });
            };
            this.open = function (event) {
                this.close();
                var offset = {
                    x: 0,
                    y: 0
                }, $menu = $("<div id='" + namespace + "'></div>");
                $.each(items, function (i, item) {
                    $menu.append(create(item));
                });
                $menu.hover(function () {
                    clearTs();
                }, function () {
                    initTs(3000);
                });
                if (event.pixel.y + $menu.height() > $div.height()) {
                    offset.y = -$menu.height();
                }
                if (event.pixel.x + $menu.width() > $div.width()) {
                    offset.x = -$menu.width();
                }
                $div.gmap3({
                    overlay: {
                        latLng: event.latLng,
                        options: {
                            content: $menu,
                            offset: offset
                        },
                        tag: namespace
                    }
                });
                initTs(5000);
            };
            this.close = function () {
                clearTs();
                $div.gmap3({
                    clear: {
                        name: "overlay",
                        tag: namespace
                    }
                });
            };
        }
        //function initialize() {
        //    var mapOptions = {
        //        center: new google.maps.LatLng(42.2677148, -89.0848823),
        //        zoom: 12,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };
        //    var map = new google.maps.Map(document.getElementById("map-canvas"),
        //        mapOptions);
        //}
        //google.maps.event.addDomListener(window, 'load', initialize);


        var menu = new Gmap3Menu($("#map-canvas")),
  current,  // current click event (used to save as start / end position)
  m1,       // marker "from"
  m2;       // marker "to"

        // update marker
        function updateMarker(marker, isM1) {
            if (isM1) {
                m1 = marker;
            } else {
                m2 = marker;
            }
            updateDirections();
        }

        // add marker and manage which one it is (A, B)
        function addMarker(isM1) {
            // clear previous marker if set
            var clear = { name: "marker" };
            if (isM1 && m1) {
                clear.tag = "from";
                $("#map-canvas").gmap3({ clear: clear });
            } else if (!isM1 && m2) {
                clear.tag = "to";
                $("#map-canvas").gmap3({ clear: clear });
            }
            $("#x").val(current.latLng);

            // add marker and store it
            $("#map-canvas").gmap3({
                marker: {
                    latLng: current.latLng,
                    options: {
                        draggable: true,
                        icon: new google.maps.MarkerImage("http://maps.gstatic.com/mapfiles/icon_green" + (isM1 ? "A" : "B") + ".png")
                    },
                    tag: (isM1 ? "from" : "to"),
                    events: {
                        dragend: function (marker) {
                            updateMarker(marker, isM1);
                        }
                    },
                    callback: function (marker) {
                        updateMarker(marker, isM1);
                    }
                }
            });
        }

        // function called to update direction is m1 and m2 are set
        function updateDirections() {
            if (!(m1 && m2)) {
                return;
            }
            $("#map-canvas").gmap3({
                getroute: {
                    options: {
                        origin: m1.getPosition(),
                        destination: m2.getPosition(),
                        travelMode: google.maps.DirectionsTravelMode.DRIVING
                    },
                    callback: function (results) {
                        if (!results) return;
                        $("#map-canvas").gmap3({ get: "directionrenderer" }).setDirections(results);
                    }
                }
            });
        }

        // MENU : ITEM 1
        menu.add("Start Point", "itemB",
        function () {
            menu.close();
            addMarker(true);
            
        });

        // MENU : ITEM 2
        menu.add("End Point", "itemA separator",
        function () {
            menu.close();
            addMarker(false);
        })

        //// MENU : ITEM 3
        //menu.add("Zoom in", "zoomIn",
        //function () {
        //    var map = $("#map-canvas").gmap3("get");
        //    map.setZoom(map.getZoom() + 1);
        //    menu.close();
        //});

        //// MENU : ITEM 4
        //menu.add("Zoom out", "zoomOut",
        //function () {
        //    var map = $("#map-canvas").gmap3("get");
        //    map.setZoom(map.getZoom() - 1);
        //    menu.close();
        //});

        //// MENU : ITEM 5
        //menu.add("Center here", "centerHere",
        //function () {
        //    $("#map-canvas").gmap3("get").setCenter(current.latLng);
        //    menu.close();
        //});

        // INITIALIZE GOOGLE MAP
        $("#map-canvas").gmap3({
            map: {
                options: {
                    center: [42.2677148, -89.0848823],
                    zoom: 12
                },
                events: {
                    rightclick: function (map, event) {
                        current = event;
                        menu.open(current);
                    },
                    click: function () {
                        menu.close();
                    },
                    dragstart: function () {
                        menu.close();
                    },
                    zoom_changed: function () {
                        menu.close();
                    }
                }
            },
            // add direction renderer to configure options (else, automatically created with default options)
            directionsrenderer: {
                divId: "directions",
                options: {
                    preserveViewport: true,
                    markerOptions: {
                        visible: false
                    },
                    draggable: true
                }
            }
        });
    </script>
}


<div class="row">
    <div class="col-md-12">
        <h1>Add New Closure</h1>
        <p>Here you can add a new closure. Select two points on the map for each segment that will be closed. </p>
    </div>

</div>

<div class="row">
    <form class="form-horizontal" name="export{{$index}}" role="form">
        <div class="form-group" ng-show="library.exportType == 'Material'">
            <label for="suppliers" class="col-sm-2 control-label">Severity</label>
            <div class="col-sm-10">
                <div class="btn-group ">
                    <button type="button" class="btn btn-default" ng-click="library.exportType = 'Material'" ng-class="{ 'active' : library.exportType == 'Material' }">Full Closure</button>
                    <button type="button" class="btn btn-default active" ng-click="library.exportType = 'Labor'" ng-class="{ 'active' : library.exportType == 'Labor' }">Partial Closure</button>
                    <button type="button" class="btn btn-default" ng-click="library.exportType = 'Estimate'" ng-class="{ 'active' : library.exportType == 'Estimate' }">Shoulder Work</button>
                    <button type="button" class="btn btn-default" ng-click="library.exportType = 'Estimate'" ng-class="{ 'active' : library.exportType == 'Estimate' }">Other</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <div id="map-canvas" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="suppliers" class="col-sm-2 control-label">Start Date</label>
            <div class="col-sm-2">
                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                    <input class="datepicker span2" size="16" type="text" value="12-02-2012" readonly="">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>

            <label for="suppliers" class="col-sm-1 control-label">End Date</label>
            <div class="col-sm-2">
                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                    <input class="datepicker span2" size="16" type="text" value="12-02-2012" readonly="">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="library.exportType == 'Labor'">
            <label for="suppliers" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50">Closing left lane for major pothole resurfacing. Expected time of work is 8am-10pm. </textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Notifications</label>
            <div class="col-sm-5 checkbox-inline" >
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">Email Group
                    </label>
                </div>
                
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked style="margin-left:5px;"
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">SMS Group
                    </label>

                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" checked style="margin-left:5px;"
                               name="selectedTrades[]"
                               value="{{item.TradeID}}"
                               ng-checked="library.selectedTrades.indexOf(item.TradeID) > -1"
                               ng-click="toggleCategorySelection(library, item.TradeID)">Push to Facebook/Twitter
                    </label>
                    </div>
                   
                </div>

        </div>

        <br />
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
                <button class="form-control btn btn-primary" ng-click="exportLibrary(library)">Create New Closure</button>
            </div>
</div>

    </form>

</div>
