﻿@section scripts{
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/jQRangeSlider/jQAllRangeSliders-min.js"></script>
@*<script src="~/Scripts/jQRangeSlider/jQDateRangeSlider-min.js"></script>*@
<link href="~/Scripts/jQRangeSlider/css/iThing.css" rel="stylesheet" />
    <style>
        #map-canvas {
            height: 400px;
        }

    </style>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB15FfNqkKtEGR38-L48WetbLcuP1-Zcbw&sensor=true">
</script>

<script src="~/Scripts/gmap3.min.js"></script>

    <script type="text/javascript"  >

        //function initialize() {
        //    var mapOptions = {
        //        center: new google.maps.LatLng(42.2677148, -89.0848823),
        //        zoom: 12,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };
        //    var map = new google.maps.Map(document.getElementById("map-canvas"),
        //        mapOptions);
        //}
        //google.maps.event.addDomListener(window, 'load', initialize);

        // add marker and store it
        // INITIALIZE GOOGLE MAP
        $("#map-canvas").gmap3({
            map: {
                options: {
                    center: [42.2677148, -89.0848823],
                    zoom: 12
                }
                
            },
            // add direction renderer to configure options (else, automatically created with default options)
            directionsrenderer: {
                divId: "directions",
                options: {
                    preserveViewport: true,
                    markerOptions: {
                        visible: false
                    }
                }
            }
        });

        $("#map-canvas").gmap3({
            getroute: {
                options: {
                    origin: [42.2677148, -89.0848823],
                    destination: [42.2677148, -89.0498072],
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                },
                callback: function (results) {
                    if (!results) return;
                    $("#map-canvas").gmap3({ get: "directionrenderer" }).setDirections(results);
                }
            }
        });

        $("#map-canvas").gmap3({
            infowindow: {
                //address: "Rockford, IL",
                options: {
                    position: [42.2637148, -89.0841823],
                    content: "Full Closure Dec. 13-16th"
                },
                events: {
                    closeclick: function (infowindow) {
                        //alert("closing : " + infowindow.getContent());
                    }
                }
            }
        });

        $("#slider").dateRangeSlider({
            bounds:{
                min: new Date(2013, 7, 1),
                max: new Date(2015, 12, 25)
            },
            defaultValues: {
                min: new Date(2013, 11, 1),
                max: new Date(2013, 12, 25)
            }
        });

        //$("#map-canvas").gmap3({
        //    getroute: {
        //        options: {
        //            origin: [42.28162702871177, -89.20846939086914],
        //            destination: [42.27857887980195, -89.15559768676758],
        //            travelMode: google.maps.DirectionsTravelMode.DRIVING
        //        },
        //        callback: function (results) {
        //            if (!results) return;
        //            $("#map-canvas").gmap3({ get: "directionrenderer1" }).setDirections(results);
        //        }
        //    }
        //});

        //$("#map-canvas").gmap3({
        //    infowindow: {
        //        //address: "Rockford, IL",
        //        options: {
        //            position: [42.28162702871177, -89.20846939086914],
        //            content: "Full Closure Dec. 08-16th"
        //        },
        //        events: {
        //            closeclick: function (infowindow) {
        //                //alert("closing : " + infowindow.getContent());
        //            }
        //        }
        //    }
        //});

        
    </script>

}

<div class="">
    <h1>Barrel Dodger</h1>
    <h5>Rockford, IL Road Closures</h5>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div id="map-canvas" />
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div id="slider"></div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Get Alerted!</h2>
        <p>Plan your most popular routes through town and get alerted when a closure is scheduled. .</p>
        <p><a class="btn btn-default" href="/Alert">Get Alerted! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View upcoming closures</h2>
        <p>View upcoming closures and major infrasturucture projects. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Connected</h2>
        <p>Follow us on twitter for the latest updates on road closures and conditions.</p>
        <p><a href="https://twitter.com/rockfordDOT" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@rockfordDOT</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script></p>
    </div>
</div>
